---
- name: KERBEROS | Include OS-specific variables
  tags:
    - kerberos
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}_{{ ansible_distribution_minor_version}}.yml"
    - "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}_{{ ansible_distribution_major_version }}_{{ ansible_distribution_minor_version}}.yml"
    - "{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "default.yml"

- name: KERBEROS | Assert that OS is supported
  tags:
    - kerberos
  assert:
    that: kerberos_os_supported

- name: KERBEROS | Installation
  tags:
    - kerberos
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "{{ kerberos_packages }}"

- name: KERBEROS | Configuration
  tags:
    - kerberos
  template:
    src: krb5.conf.j2
    dest: "{{ kerberos_config_file }}"
    owner: root
    group: root
    mode: 0644

- name: KERBEROS | Register that the kerberos role has run
  tags:
    - kerberos
  set_fact: kerberos_has_run=true
  when: kerberos_has_run is not defined
