{% from 'macros/section.macro' import section -%}
# {{ ansible_managed }}

#
# Kerberos configuration file
#  See krb5.conf(5) for more information.
#
s
[logging]
{{ section(kerberos_conf['logging']) }}

[libdefaults]
{{ section(kerberos_conf['libdefaults']) }}

[capaths]
{{ section(kerberos_conf['capaths']) }}

[appdefaults]
{{ section(kerberos_conf['appdefaults']) }}

[plugins]
{{ section(kerberos_conf['plugins']) }}

[realms]
{{ section(kerberos_conf['realms']) }}

[domain_realm]
{{ section(kerberos_conf['domain_realm']) }}
